body {
    background: rgb(3, 24, 31);
    font-family: sans-serif;
}

li {
    color: rgb(56, 134, 160);
    font-size: 20px;
}

.header {
    font-size: 24px;
    color: aquamarine;
}
dd {
    list-style-type: disc;
    color: rgb(202, 218, 223);
    font-size: 18px;
}
    